.container {
    width: 100%;
    margin: 50px auto;
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
  }
  .contact-details, .contact-form {
    width: 48%;
  }
  .contact-form h2{
    text-align: left  !important;
  }
  .contact-details{
    padding: 30px;
    background: #86796954;
    border-radius: 10px;
  }
  .contact-details h2{
   text-align: left  !important;
  }
  .contact-details h3{
    text-align: left  !important;
   }
  .contact-details h2, .contact-form h2 {
    color: #333;
    text-align: center;
    padding-bottom: 30px;
  }
  .contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .sub-btn{
    background: #333 !important;
    color: #fff;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
  }
  .contact-form button:disabled {
    background: #bbb;
    cursor: not-allowed;
  }
  .error {
    color: red;
    font-size: 14px;
    margin-top: -5px;
  }
  .contact-details p{
        font-size: 17px;
  }
  @media(max-width:1200px){
    .container{
        width: 100%;
      display: flex;
      flex-direction: column-reverse;
    }
    .contact-details, .contact-form {
      width: 100%;
    }
    .contact-details h2{
        margin-top: 50px;
    }
  }

  @media(max-width:585px){
 .container{
    width: 80%;
    margin: auto;
 }
  }


  .contact-box-section .left-sidebar-box .contact-detail .contact-detail-box {
    display: flex;
    flex-wrap: wrap;
    gap: calc(2px + 3 * (100vw - 320px) / 1600);
    align-items: center;
    background-color: #f8f8f8;
    padding: calc(15px + .0075*(100vw - 320px)) calc(15px + .0075*(100vw - 320px)) calc(15px + .0075*(100vw - 320px)) calc(30px + 11 * (100vw - 320px) / 1600);
    position: relative;
    border-radius: 10px;
    margin-left: 22px;
}

.contact-box-section .left-sidebar-box .contact-detail .contact-detail-box .contact-icon {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: -21px;
  background-color: #867969;
  border-radius: 7px;
  display: inherit;
  color: #fff;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-box-section .left-sidebar-box .contact-detail .contact-detail-box .contact-icon i {
  line-height: 1;
  font-size: 18px;
}
.contact-box-section .left-sidebar-box .contact-detail .contact-detail-box .contact-detail-title, .contact-box-section .left-sidebar-box .contact-detail .contact-detail-box .contact-detail-contain {
  width: 100%;
}
.contact-box-section .left-sidebar-box .contact-detail .contact-detail-box .contact-detail-title h4, .contact-box-section .left-sidebar-box .contact-detail .contact-detail-box .contact-detail-title .h4 {
  font-weight: 600;
  font-size: calc(16px + .00125*(100vw - 320px));
  margin-top: -2px;
}
.contact-box-section .left-sidebar-box .contact-detail .contact-detail-box .contact-detail-title, .contact-box-section .left-sidebar-box .contact-detail .contact-detail-box .contact-detail-contain {
  width: 100%;
}
.contact-box-section .left-sidebar-box .contact-detail .contact-detail-box .contact-detail-contain p {
  margin: 0 0 -5px;
  font-size: calc(14px + 1 * (100vw - 320px) / 1600);
  line-height: 1.5;
  color: #4a5568;
}
.contact-icon{
  top: 50%;
  // position: absolute;
  left: -21px;
  background-color: #867969;
  border-radius: 7px;
  display: inherit
;
  color: #fff;
  width: 42px;
  height: 42px;
  display: flex
;
  align-items: center;
  justify-content: center;
}
.contact-detail-box{
  position: relative;
  padding: calc(15px + 0.0075 * (100vw - 320px)) calc(15px + 0.0075 * (100vw - 320px)) calc(15px + 0.0075 * (100vw - 320px)) calc(30px + 11 * (100vw - 320px) / 1600);
  padding-bottom: 10px;
  display: flex;
  padding-left: 0px;
  gap: 20px;
}
.contact-mine {
  width: 100px !important;
}
.contact-detail{
  margin-top: 20px;
}
@media(max-width:768px){
  .contact-detail-box{
   
    flex-direction: column;
}
.contact-details, .contact-form {
  width: 100%;
  margin-top: 20px;
}
.container{
  width: 100%;
  padding: 10px;
  margin: auto;
}
.contact-mine[_ngcontent-ng-c2046780838] {
  width: 40px!important;
}
}