<ng-template #passwordModal let-modal>
    <div class="modal-header">
        <h3 class="fw-semibold">{{ 'Change_password' | translate }}</h3>
        <app-button
            [class]="'btn btn-close'"
            [spinner]="false"
            [id]="'password_modal_close_btn'"
            (click)="modal.dismiss('Cross click')">
            <i class="ri-close-line"></i>
        </app-button>
    </div>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="modal-body address-form">
            <div class="row g-4">
                <div class="col-xxl-12">
                    <div>
                        <label class="form-label" for="cpass">{{ 'Current Password' | translate }}</label>
                        <input class="form-control" id="cpass" type="password" placeholder="{{ 'Enter Current Password' | translate }}" formControlName="current_password" />
                        <div class="invalid-feedback" *ngIf="form?.controls?.['current_password']?.touched && form.controls['current_password']?.errors?.['required']">
                            {{ 'Current Password is Required' | translate }}
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div>
                        <label class="form-label" for="npass">{{ 'New Password' | translate }}</label>
                        <input class="form-control" id="npass" type="password" placeholder="{{ 'Enter New Password' | translate }}" formControlName="password" />
                        <div class="invalid-feedback" *ngIf="form?.controls?.['password']?.touched && form.controls['password']?.errors?.['required']">
                            {{ 'New Password is Required' | translate }}
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div>
                        <label class="form-label" for="cnpass">{{ 'Confirm Password' | translate }}</label>
                        <input class="form-control" id="cnpass" type="password" placeholder="{{ 'Enter Confirm Password' | translate }}" formControlName="password_confirmation" />
                        <div class="invalid-feedback" *ngIf="form?.controls?.['password_confirmation']?.touched && form.controls['password_confirmation']?.errors?.['required'] else error">
                            {{ 'Confirm Password is Required' | translate }}
                        </div>
                        <ng-template #error>
                            <div class="invalid-feedback" *ngIf="passwordMatchError">
                                {{ 'Confirm Password Does Not Matched' | translate }}
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
              <app-button [class]="'btn btn-theme-outline btn-md fw-bold'" [type]="'button'" [spinner]="false"
                [id]="'cancel_profile_btn'" (click)="modal.dismiss('Cancel')">
                {{ 'Cancel' | translate }}
              </app-button>
              <app-button [class]="'btn theme-bg-color btn-md fw-bold text-light'" [id]="'submit_profile_btn'">
                {{ 'Submit' | translate }}
              </app-button>
            </div>
        </div>
    </form>
</ng-template>
