.product-rating {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between rating and stock status */
  
    .custom-rating {
        display: flex
        ;
            align-items: center;
            background-color: #222222;
            color: #fff;
            padding: 4px 20px;
            border-radius: 20px;
            font-weight: 600;
            margin-top: 10px;
  
      .rating-value {
        margin-right: 4px; /* Space between number and star */
      }
  
      .star-icon {
        font-size: 1rem; /* Adjust star size */
      }
    }
  
    .theme-color {
      margin: 0; /* Remove default margin for stock status */
      font-size: 0.9rem;
    }
  }
  .rating-value{
    font-size: 16px;
    color: #fff	;
  }